.cardContainer{
    box-sizing: border-box;
    padding:0!important;
    width: 24em;
    height: 47em;
    /* background-color: lightgray; */
    border: 1px solid #464444;
    border-radius: 2rem;
    float: left;
    margin: 10px;
}

.nftImg{
    width:100%;
    height:auto;
    /* padding-bottom:1px; */
    border-radius: 2em;
    border-bottom:0.25rem dashed lightgray;
    
}

.tokenName{
    text-align: center;
    padding: 1px;
    font-size: 2em;
    /* padding :1.5em; */
    color: #353840;
    font-style: normal;
    /* line-height: 3em; */
}

.descriptionBox{
    /* border: 5px solid skyblue; */
    text-align: center;
    padding-bottom: 2em;
}

.description{
    color: #8a939b;
    font: normal;
}

.externalUrl{
    float: right;
    padding-bottom: 1em;
    padding-right: 0.5em;
    color: #1868b7;
    size: 14px;
    text-align: right;
}


.buttonBox{
    width:300px;
        margin:auto;
        padding-top: 3em;
        padding-bottom: 1em;
    
}
.nftButton{
    font-weight: bolder;
    width:5rem;
    height:3rem;
    border-radius: 0.5rem;
    background-color: skyblue;
    margin:auto;
    display:block;
    
}
